{% extends "catalog/layout.html" %}

{% block main %}

    <main role="main">
      <div class="container card">
        <!-- Example row of columns -->
        <div class="row pt-1 pl-1 pr-1 pb-1">
            <div class="col">
                <h2>Edit Item</h2>
                
                <form action="{{ url_for('editItem', category_name=category_name, item_name=item_name) }}" method="post">
                    <div class="form-group">
                        <label for='name'>Title:</label>
                        <input type='text' size='30' name='name' id='name' class="form-control"
                            value="{{item.name}}"
                        >
                    </div>

                    <div class="form-group">
                        <label for='descripiton'>Description:</label>
                        <input type='text' size='30' name='description' id='description' class="form-control"
                          value="{{item.description}}"
                        >
                    </div>

                    <div class="form-group">
                        <label for='category'>Category:</label>
                        <select name='category_id' id='category' class="form-control">
                            {% for category in categories %}
                                {% if category.id == item.category_id %}
                                    <option value="{{category.id}}" selected="true">{{category.name}}</option>
                                {% else %}
                                    <option value="{{category.id}}">{{category.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <input type='submit' value='Submit'>
                    <a href="{{ url_for('showItems', category_name=category_name, item_name=item_name) }}">Cancel</a>
                </form>
            </div>
        </div>

      </div> <!-- /container -->

    </main>


{% endblock %}