<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Catalog App</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>

    <header>
        <div class="container">
            <div class="row">
                <div class="col justify-content-middle">
                    <a href="{{ url_for('showCatalog')}}">
                        <h1 class="d-inline">
                            Catalog App
                        </h1>
                    </a>
                    <button type="button" class="btn btn-primary d-inline float-right my-margin">Login</button>
                </div>
            </div>
        </div>
    </header>

    <main role="main">
      <div class="container card">
        <!-- Example row of columns -->
        <div class="row pt-1 pl-1 pr-1 pb-1">
            <div class="col">
                <h2>New Item</h2>
                
                <form action="{{ url_for('newItem') }}" method="post">
                    <div class="form-group">
                        <label for='name'>Title:</label>
                        <input type='text' size='30' name='name' id='name' class="form-control" required pattern=".*\S+.*">
                    </div>

                    <div class="form-group">
                        <label for='descripiton'>Description:</label>
                        <input type='text' size='30' name='description' id='description' class="form-control" required pattern=".*\S+.*">
                    </div>

                    <div class="form-group">
                        <label for='category'>Category:</label>
                        <select name='category_id' id='category' class="form-control">
                            {% for category in categories %}
                                <option value="{{category.id}}">{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <input type='submit' value='Submit'>
                    <a href="{{ url_for('showCatalog') }}">Cancel</a>
                </form>
            </div>
        </div>

      </div> <!-- /container -->

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
